<!DOCTYPE html>
{% extends "base/diary_base.html" %}
{% block body %}

<h2>出庫一覧</h2>

<!-- 検索ボックスの追加 -->
<form method="get" class="list-form">
    <h3>アイテムフィルタ</h3>
    <br>
    <div class="form-group">
        <label for="code_item">品目コード:</label>
        <input type="text" id="code_item" name="code_item" value="{{ code_item }}" placeholder="品目コード">
        <label for="item">品目:</label>
        <input type="text" id="item" name="item" value="{{ item }}" placeholder="品目">
        <label for="item_brand">品種:</label>
        <input type="text" id="item_brand" name="item_brand" value="{{ item_brand }}" placeholder="品種">
    </div>
    <div class="form-group">
        <label for="area">産地:</label>
        <input type="text" id="area" name="area" value="{{ area }}" placeholder="産地">
        <label for="area_detail">地名:</label>
        <input type="text" id="area_detail" name="area_detail" value="{{ area_detail }}" placeholder="地名">
        <label for="put_human">出庫担当者:</label>
        <input type="text" id="put_human" name="put_human" value="{{ put_human }}" placeholder="出庫担当者">
    </div>
    <h3>入庫日時フィルタ</h3>
    <br>
    <div class="form-group">
        <label for="start_date">開始日:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
        <label for="end_date">終了日:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
        <button type="submit">検索</button>
        <a href="{% url 'diary:page_putoutlist' %}">リセット</a>
    </div>
</form>

<table border="1">
    <thead>
        <tr>
            <th class="sortable" data-column="put_date">入庫日時</th>
            <th class="sortable" data-column="code_item">品目コード</th>
            <th class="sortable" data-column="code_item">品目</th>
            <th class="sortable" data-column="code_item_brand">品種</th>
            <th class="sortable" data-column="code_area">産地</th>
            <th class="sortable" data-column="area_detail">地名</th>
            <th class="sortable" data-column="putout_date">出庫日時</th>
            <th class="sortable" data-column="code_putout_human">出庫担当者</th>
            <th class="sortable" data-column="old_put_qty">以前の在庫数</th>
            <th class="sortable" data-column="putout_qty">出庫数</th>
            <th class="sortable" data-column="old_put_wt">以前の在庫重量</th>
            <th class="sortable" data-column="putout_wt">出庫重量</th>
            <th class="sortable" data-column="putout_section">出庫部署</th>
        </tr>
    </thead>
    <tbody>
        {% for putout in page_put_outs %}
        <tr>
            <td>{{ putout.page.put_date }}</td>
            <td>{{ putout.page.code_item.code }}</td>
            <td>{{ putout.page.code_item.name }}</td>
            <td>{{ putout.page.code_item_brand.name }}</td>
            <td>{{ putout.page.code_area.name }}</td>
            <td>{{ putout.page.code_area_detail }}</td>
            <td>{{ putout.putout_date }}</td>
            <td>{{ putout.code_putout_human.name }}</td>
            <td>{{ putout.old_put_qty }}</td>
            <td>{{ putout.putout_qty }}</td>
            <td>{{ putout.old_put_wt }}</td>
            <td>{{ putout.putout_wt }}</td>
            <td>{{ putout.putout_section.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<div class="bottom-fix">
    <a href="{% url 'diary:index' %}" class="white">戻る</a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    
        const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    
        document.querySelectorAll('th.sortable').forEach(th => th.addEventListener('click', function() {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tbody > tr'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.querySelector('tbody').appendChild(tr) );
    
            // 現在のソート状態を表すクラスを削除
            table.querySelectorAll('th').forEach(th => th.classList.remove('asc', 'desc'));
            
            // 新しいソート状態を表すクラスを追加
            th.classList.toggle('asc', this.asc);
            th.classList.toggle('desc', !this.asc);
        }));
    
        const toggleHideButton = document.getElementById('toggle-zero-records-hide');
        const toggleShowButton = document.getElementById('toggle-zero-records-show');
        const rows = document.querySelectorAll('tbody > tr');
    
    });
  </script>
    

{% endblock %}
